<h1>SALDO: {{ saldoTotal }} €</h1>
@if (accounts) {
  <div class="l-flex l-flex--justify-center g--margin-top-5">
    <div class="c-card g--width-1200">
      <div class="c-card__body">
        <h3 class="c-card__title g--margin-bottom-5">Listado de Cuentas</h3>
        <div class="g--margin-bottom-3">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar por IBAN, Cliente o ID..."
            [(ngModel)]="searchText"
          />
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped align-middle text-center">
            <thead class="table-light">
              <tr>
                <th>ID</th>
                <th>IBAN</th>
                <th>SALDO</th>
                <th>CLIENTE</th>
                <th>TARJETAS</th>
                <th>MOVIMIENTOS</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @for (account of filteredAccounts; track account.id) {
                <tr>
                  <td>{{ account.id }}</td>

                  <td>{{ account.iban }}</td>

                  <td class="g--font-questrial">{{ account.saldo }}€</td>

                  <td>
                    <a routerLink="/">
                      {{ account.cliente.name }} {{ account.cliente.lastName1 }}
                      {{ account.cliente.lastName2 }}
                    </a>
                  </td>

                  <td>{{ account.tarjetas.length }}</td>

                  <td>{{ account.movimientos.length }}</td>

                  <td class="l-flex l-flex--justify-center l-flex--gap-2">
                    <a
                      c-button
                      funcion="normal"
                      importancia="primaria"
                      tamano="pequeno"
                      routerLink="/accounts/{{ account.id }}"
                    >
                      Ver
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped align-middle text-center">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>TIPO</th>
          <th>ORIGEN</th>
          <th>FECHA</th>
          <th>CONCEPTO</th>
          <th>IMPORTE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (movimiento of movimientos; track movimiento.id) {
          <tr>
            <td>{{ movimiento.id }}</td>

            <td>{{ movimiento.tipoMovimiento }}</td>

            <td>{{ movimiento.origenMovimiento }}€</td>

            <td>{{ movimiento.fecha }}</td>

            <td>{{ movimiento.concepto }}</td>

            <td>{{ movimiento.importe }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
