<div class="logout-page">
  <div class="logout-card">
    <h2 class="logout-title">¿Estás seguro que deseas cerrar sesión?</h2>

    <p class="logout-text">
      Al cerrar sesión se perderá el acceso a tu cuenta hasta que vuelvas a iniciar sesión.
    </p>

    <div class="logout-actions">
      <a
        c-button
        funcion="alternativa"
        importancia="terciaria"
        tamano="mediano"
        [routerLink]="'app'"
        role="button"
      >
        Cancelar
      </a>

      <button c-button funcion="normal" importancia="primaria" tamano="mediano" (click)="logOut()">
        Cerrar Sesión
      </button>
    </div>
  </div>
</div>
