<nav class="navbar navbar-expand-sm bg-dark navbar-dark px-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" [style.color]="'purple'" href="#"> Banco Front </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @if (httpService.isLogged$) {
          <li class="nav-item">
            <a class="nav-link g--font-noto-sans-arabic" (click)="logOut()">Log Out</a>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link g--font-noto-sans-arabic" routerLink="/login">Log In</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link g--font-noto-sans-arabic" routerLink="transfers">Transferencia</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
