<div class="l-flex l-flex--justify-center g--margin-top-5">
    <div class="c-card g--width-1200">
        <div class="c-card__body">

            <h3 class="c-card__title g--margin-bottom-5">
                Listado de Tarjetas
            </h3>

            <div class="g--margin-bottom-3">
                <input type="text"
                       class="form-control"
                       placeholder="Buscar por número de tarjeta, titular o ID..."
                       [(ngModel)]="searchText">
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped align-middle text-center">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>NÚMERO TARJETA</th>
                            <th>FECHA CADUCIDAD</th>
                            <th>CVV</th>
                            <th>TITULAR</th>
                            <th>CUENTA</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (card of filteredCards; track card.id) {
                            <tr>
                                <td>{{ card.id }}</td>

                                <td>{{ card.numeroTarjeta }}</td>

                                <td>{{ card.fechaCaducidad }}</td>

                                <td class="g--font-questrial">{{ card.cvv }}</td>

                                <td>{{ card.nombreCompleto }}</td>

                                <td class="l-flex l-flex--justify-center l-flex--gap-2">
                                    <a c-button funcion="normal" importancia="primaria" tamano="pequeno"
                                        routerLink="/cards/{{ card.id }}">
                                        Ver
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>